*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}


a{
    text-decoration: none;
}

img{
    max-width: 100%;

    mask-size: cover;
}


.wrapper{
    background: linear-gradient(90deg, rgba(72,86,125,0.5382528011204482) 17%, rgba(168,142,171,1) 99%);
    width: 100%;
}


.container{
    width: 1440px;
    margin: 0 auto;
}

header{
    padding: 50px 0;
}
header .logo{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 1000;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(72,86,125,0.5382528011204482) 17%, rgba(168,142,171,1) 99%);
}
header nav {
    float: right;
    width: 35%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;

}

header nav ul li a {
    color: White;
}
header nav ul li:not(.active):not(.btn) a {
    background: linear-gradient(90deg, rgba(72,86,125,0.5382528011204482) 17%, rgba(168,142,171,1) 99%);
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;

}

header nav ul li.btn a {
    background: linear-gradient(90deg, rgba(72,86,125,0.5382528011204482) 17%, rgba(168,142,171,1) 99%);
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}
header nav ul li.active a {
    background: linear-gradient(90deg, rgba(72,86,125,0.5382528011204482) 17%, rgba(168,142,171,1) 99%);
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

header nav ul li.btn a:hover {
    background: rgb(190,166,191);
    transform: scale(1.1);
}

header nav ul li.active a:hover {
    background: rgb(190,166,191);
    transform: scale(1.1);
}
header nav ul li:not(.active):not(.btn) a:hover {
    background: rgb(190,166,191);
}


.hero{
    padding-bottom: 100px;
}

.hero h1{
    padding-top: 50px;
}

.hero--info{
    width: 500px;
    padding-top: 100px;
    border-radius: 10px;
    margin: 30px 0;

}

.hero--info h2{
    color: rgb(231,213,232);
    font-size: 40px;
    font-weight: 600;
}
.hero--info h1{
    font-size: 60px;
    font-weight: 600;
}
.hero--info p{
    font-size: 19px;
    font-weight: 500;
    line-height: 170%;
    margin: 100px 0;
}


.hero--info .btn{
    background: linear-gradient(90deg, rgba(72,86,125,0.5382528011204482) 17%, rgba(168,142,171,1) 99%);
    width: 50%;
    padding: 9px 15px;
    border-radius: 25px;
    transition: all 300ms ease;
}

.hero--info button{
    font-size: 20px;
    color: White;
}

.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: rgb(190,166,191);
    border-radius: 10px;
}